body{
    margin: 0;
    padding: 0;
}

img{
    height: 300px;
    width:  300px;
    padding: 15px;
}
header{
    background-color:lightgoldenrodyellow;
    padding: 15px 0 15px;
    margin-bottom: 25px ;
    text-align: center;

    
}
a{
    color: black;
    text-decoration: none;
}
ul{
    list-style-type: none;
}
li{
    display: inline;
    margin-right: 30px;
}
#products{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}
.product{
    border: 3px solid;
    padding: 10px;
    
}
.product{
    text-align:center ;
}
.product:hover{
    box-shadow: 15px 15px 5px rgb(177, 188, 205);
    

}
h1{
    text-align: center;
}
p{
    text-align: center;
}
button{
    background-color:cadetblue;
    text-align: center;
    padding: 10px;
    border-radius: 30px;
}
footer{
    background-color: pink;
    color:black ;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    position: fixed;
    bottom:0 ;
    width: 100%;
}